.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.main-form{
    width: 450px;    
}

.form-group{
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    height: 50px; 
    justify-content:space-between;  
}

.button-submit{
    border: 2px solid black;
}
