    input{
        font-size: 20px;
        width: 150px;
        font-weight: 500;
        border-radius: 10px;
        border: 2px solid #000;
    }
label{
    font-size: 20px;
    font-weight: 500;
    width: 150px;
}
